BETTER_AUTH_SECRET=
BETTER_AUTH_URL=
TRUSTED_ORIGIN=

PUBLIC_OBJECT_STORAGE_ENDPOINT= # Endpoint where user could using this to visit buckets

DEV_CONVERGED_PORT= # Port where services converged to
DEV_API_ENDPOINT= # Where API service is running on
DEV_OBJECT_STORAGE_ENDPOINT= # Where object storage service is running on