BETTER_AUTH_SECRET=
BETTER_AUTH_URL=
TRUSTED_ORIGIN=

OBJECT_STORAGE_ENDPOINT= # Endpoint where object storage service is running on (encore default is on port 9800)
PUBLIC_OBJECT_STORAGE_ENDPOINT= # Endpoint where user could using this to visit buckets
